<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Products</h3>
<p>
    <a th:href="@{/products/create}">
        Add new products
    </a>
</p>

<div>

    <form action="/products/search"  >
        <input type="text" name="search">
        <input type="submit" value="Search">

    </form>

</div>

<table id = "customers">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Producer</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.producer}"></td>
        <td><a th:href="@{/products/{id}/edit(id=${product.getId()})}">Edit</a></td>
        <td><a th:href="@{/products/{id}/delete(id=${product.getId()})}">Delete</a></td>
        <td><a th:href="@{/products/{id}/view(id=${product.getId()})}">View</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>